![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

# **SQL**

**Problem 1: Revising the Select Query I**

Query all columns for all American cities in CITY with populations larger than 100000. The CountryCode for America is USA.

Input Format


The CITY table is described as follows:

![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

*Solution* https://www.hackerrank.com/rest/contests/master/challenges/revising-the-select-query/hackers/nnta_zip/download_solution

In [0]:
SELECT * FROM CITY WHERE COUNTRYCODE='USA' AND POPULATION>100000;

**Problem 2: Revising the Select Query II**

Query the names of all American cities in CITY with populations larger than 120000. The CountryCode for America is USA.

Input Format

The CITY table is described as follows:

![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/revising-the-select-query-2/hackers/nnta_zip/download_solution

In [0]:
SELECT NAME FROM CITY WHERE COUNTRYCODE='USA' AND POPULATION>120000;

**Problem 3: Select All**

Query all columns (attributes) for every row in the CITY table.

Input Format

The CITY table is described as follows:

![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/select-all-sql/hackers/nnta_zip/download_solution

In [0]:
 SELECT * FROM CITY

**Problem 4: Select By ID**

Query all columns for a city in CITY with the ID 1661.

Input Format

The CITY table is described as follows:

![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/select-by-id/hackers/nnta_zip/download_solution

In [0]:
SELECT * FROM CITY WHERE ID=1661;

**Problem 5: Japanese Cities' Attributes**

Query all attributes of every Japanese city in the CITY table. The COUNTRYCODE for Japan is JPN.

Input Format

The CITY table is described as follows:

![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/japanese-cities-attributes/hackers/nnta_zip/download_solution

In [0]:
  SELECT * FROM CITY WHERE COUNTRYCODE='JPN';

**Problem 6: Japanese Cities' Names** 

Query the names of all the Japanese cities in the CITY table. The COUNTRYCODE for Japan is JPN.

Input Format

The CITY table is described as follows:

![alt text](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/japanese-cities-name/hackers/nnta_zip/download_solution

In [0]:
SELECT NAME FROM CITY WHERE COUNTRYCODE='JPN';

**Problem 7: Weather Observation Station 1** 

Query a list of CITY and STATE from the STATION table.

Input Format

The STATION table is described as follows:


![alt text](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

where LAT_N is the northern latitude and LONG_W is the western longitude.

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-1/hackers/nnta_zip/download_solution

In [0]:
SELECT CITY, STATE FROM STATION

**Problem 8: Weather Observation Station 3**

Query a list of CITY names from STATION with even ID numbers only. You may print the results in any order, but must exclude duplicates from your answer.

Input Format

The STATION table is described as follows:


![alt text](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

where LAT_N is the northern latitude and LONG_W is the western longitude.

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-3/hackers/nnta_zip/download_solution

In [0]:
SELECT DISTINCT CITY FROM STATION WHERE MOD(ID,2)=0 ORDER BY CITY ASC;

**Problem 9: Weather Observation Station 4**

Let *N* be the number of CITY entries in STATION, and let *N'* be the number of distinct CITY names in STATION; query the value of *N - N'* from STATION. In other words, find the difference between the total number of CITY entries in the table and the number of distinct CITY entries in the table.

Input Format

The STATION table is described as follows:

![alt text](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

where LAT_N is the northern latitude and LONG_W is the western longitude.

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-4/hackers/nnta_zip/download_solution

In [0]:
SELECT COUNT(CITY) - COUNT(DISTINCT CITY) FROM STATION;

**Problem 10: Weather Observation Station 5** 

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.

Input Format

The STATION table is described as follows:

![alt text](https://s3.amazonaws.com/hr-challenge-images/9336/1449345840-5f0a551030-Station.jpg)

where LAT_N is the northern latitude and LONG_W is the western longitude.

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-5/hackers/nnta_zip/download_solution

In [0]:
SELECT CITY, LENGTH(CITY) FROM STATION ORDER BY LENGTH(CITY) ASC, CITY LIMIT 1;
SELECT CITY, LENGTH(CITY) FROM STATION ORDER BY LENGTH(CITY) DESC, CITY LIMIT 1;

# **Python**

**Problem 1:** **Say "Hello, World!" With Python**

The above code will print Hello, World! on your screen. Try it yourself in the editor below!

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/py-hello-world/hackers/nnta_zip/download_solution

In [0]:
if __name__ == '__main__':
    print "Hello, World!"

**Problem 2:** **Python If-Else**

Given an integer, n, perform the following conditional actions:

If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/py-if-else/hackers/nnta_zip/download_solution

In [0]:
#!/bin/python

import math
import os
import random
import re
import sys



if __name__ == '__main__':
    n = int(raw_input().strip())
    if (n%2!=0):
        print('Weird')
    else:
        if((n in range(2,6)) or (n>20)):
            print('Not Weird')
        else:
            print('Weird')

**Problem 3:** **Arithmetic Operators**

Read two integers from STDIN and print three lines where:

1. The first line contains the sum of the two numbers.
2. The second line contains the difference of the two numbers (first - second).
3. The third line contains the product of the two numbers.

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/python-arithmetic-operators/hackers/nnta_zip/download_solution

In [0]:
if __name__ == '__main__':
    a = int(raw_input())
    b = int(raw_input())

    print(a+b)
    print(a-b)
    print(a*b)

**Problem 4:** **Python: Division**

Read two integers and print two lines. The first line should contain integer division, a // b. The second line should contain float division, a / b.

You don't need to perform any rounding or formatting operations.

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/python-division/hackers/nnta_zip/download_solution

In [0]:
from __future__ import division

if __name__ == '__main__':
    a = int(raw_input())
    b = int(raw_input())

    print(a//b)
    print(a/b)

**Problem 5:** **Loops**

Read an integer *N*. For all non-negative integers *i<N*, print *i^2*.

*Solution*
https://www.hackerrank.com/rest/contests/master/challenges/python-loops/hackers/nnta_zip/download_solution

In [0]:
if __name__ == '__main__':
    n = int(raw_input())
    for i in range(0,n):
        print(i*i)